@page
@model IndexModel
@{
    ViewData["Title"] = "Page d'Accueil";
}

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Bootstrap 4 Admin &amp; Dashboard Template">

	<title>Covidipedia</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/index.css" rel="stylesheet" />
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<!--Dependencies from the old Query Page-->
	<link href="~/css/query.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="~/lib/chartjs/Chart.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
</head>

<body>
	<div class="splash active">
		<div class="splash-icon"></div>
	</div>

	<div class="wrapper">
		<div class="main">
			<main class="content">
				<div class="container-fluid">
                    <br>
					<div class="row">
						<div class="col-12 col-sm-6 col-lg-3">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<h5 class="card-title">Cas</h5>
										</div>

										<div class="col-auto">
											<div class="avatar">
												<div class="avatar-title rounded-circle bg-primary-dark">
													<span class="iconify" data-icon="fluent:patient-24-filled" data-inline="false" width="24" height="24"></span>
												</div>
											</div>
										</div>
									</div>
									<h1 class="display-5 mt-1 mb-3">@Model.DailyNumber.numberCas</h1>
									<div class="mb-0">
										<span class="text-danger"> @Model.DailyNumber.percentageCas% </span>
										Plus que d'habitude
									</div>
								</div>
							</div>
						</div>
						<br>
						<div class="col-12 col-sm-6 col-lg-3">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<h5 class="card-title">Décès</h5>
										</div>

										<div class="col-auto">
											<div class="avatar">
												<div class="avatar-title rounded-circle bg-primary-dark">
													<span class="iconify" data-icon="la:book-dead" data-inline="false" width="24" height="24"></span>
												</div>
											</div>
										</div>
									</div>
									<h1 class="display-5 mt-1 mb-3">@Model.DailyNumber.numberDead</h1>
									<div class="mb-0">
										<span class="text-danger"> @Model.DailyNumber.percentageDead % </span>
										En train de stagner
									</div>
								</div>
							</div>
						</div>
						<br>
						<div class="col-12 col-sm-6 col-lg-3">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<h5 class="card-title">Vaccinés</h5>
										</div>

										<div class="col-auto">
											<div class="avatar">
												<div class="avatar-title rounded-circle bg-primary-dark">
													<span class="iconify" data-icon="tabler:vaccine" data-inline="false" width="24" height="24"></span>
												</div>
											</div>
										</div>
									</div>
									<h1 class="display-5 mt-1 mb-3">@Model.DailyNumber.numberVaccinate</h1>
									<div class="mb-0">
										<span class="text-success"> @Model.DailyNumber.percentageVaccinate % </span>
										Légère augmentation
									</div>
								</div>
							</div>
						</div>
						<br>
						<div class="col-12 col-sm-6 col-lg-3">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<h5 class="card-title">Lits</h5>
										</div>

										<div class="col-auto">
											<div class="avatar">
												<div class="avatar-title rounded-circle bg-primary-dark">
													<span class="iconify" data-icon="medical-icon:i-inpatient" data-inline="false" width="24" height="24"></span>
												</div>
											</div>
										</div>
									</div>
									<h1 class="display-5 mt-1 mb-3">@Model.DailyNumber.numberBed</h1>
									<div class="mb-0">
										<span class="text-danger"> @Model.DailyNumber.percentageBed % </span>
										En grande baisse
									</div>
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="row">
                        <div class="col-12 col-md-12 col-xxl-6">
							<div id="criteria-card">
								<div class="card flex-fill w-100">
									<div class="card-header">
										<div class="card-actions float-right">
											<a href="#" class="mr-1">
												<span class="iconify" data-icon="feather-refresh-cw" data-inline="false" width="24" height="24"></span>
											</a>
											<div class="d-inline-block dropdown show">
												<a href="#" data-toggle="dropdown" data-display="static">
													<span class="iconify" data-icon="carbon:overflow-menu-vertical" data-inline="false" width="24" height="24"></span>
												</a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="#">Action</a>
													<a class="dropdown-item" href="#">Another action</a>
													<a class="dropdown-item" href="#">Something else here</a>
												</div>
											</div>
										</div>

										<h5 id="criteria-collapser" class="card-title mb-0" type="button" data-toggle="collapse" data-target="#criteria" aria-expanded="true" aria-controls="criteria">
											Critères de recherche <span class="iconify arrow-down" data-icon="bx:bxs-down-arrow" data-inline="false" width="10" height="10"></span>
										</h5>
									</div>
									<div id="criteria" class="collapse show in" data-parent="#criteria-card">
										<div class="card-body px-4">
											<div class="query-creator">
												<form class="query-form" method="post">
													<h3 class="main-criteria-text">Critère principal de recherche:</h3>
													<div class="form-row">
														<div class="form-group col-md-4">
															<label for="select-table" class="to-hide">Selectionner critère principal de recherche:</label>
															<select asp-for="input.type" name="input.type" id="select-table" class="custom-select custom-select-lg mb-3" onchange="ChangeAdvancedCriteriaForm(this.value)"> 
																<option disabled selected>Choisissez votre critère principal:</option>
																<option value="Cas">Cas</option>
																<option value="EffetsSecondaires">Effets Secondaires</option>
																<option value="Historique">Historique</option>
																<option value="Hopital" >Hopital</option>
																<option value="Localisation">Localisation</option>
																<option value="Pathologie">Pathologie</option>
																<option value="Personne">Personne</option> <!-- Affichage correct du sexe à faire ici -->
																<option value="Symptome">Symptome</option>
																<option value="Traitement">Traitement</option>
																<option value="Vaccin">Vaccin</option>
															</select>
														</div>
														<div class="form-group col-md-8">
															<label for="input_name" class="to-hide">Entrer le critère à rechercher:</label>
															@Html.TextBoxFor(model => model.input.name, new { @class = "form-control mb-3", placeholder = new string("Entrez le nom à rechercher, ou laissez vide pour une recherche globale.") })  
														</div>
														<br/><span asp-validation-for="input.type" class="text-danger"></span>

													</div>

													<div id="partial-view" class="partial-view" >
														@{ await Html.RenderPartialAsync("PartialViewForm"); }
													</div>

													<div class="submit-group">
														<button type="button" class="btn btn-link" id="extend-criterias" onclick="ShowCriterias()">+  Plus de critères</button> 
														<button id="query-submit" type="submit" asp-page-handler="Submit" class="btn btn-primary">Recherche</button>
													</div>
												</form>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
                    </div>
					<br>
					<div class="row">
						<div class="col-12 col-md-6 col-xxl-3">
							<div id="graph-1-card"> 
								<div class="card flex-fill">
									<div class="card-header">
										<h5 id="graph-1-collapser" class="card-title mb-0" type="button" data-toggle="collapse" data-target="#graph1" aria-expanded="true" aria-controls="graph1">
											Graph 1 <span class="iconify arrow-down" data-icon="bx:bxs-down-arrow" data-inline="false" width="10" height="10"></span>
										</h5>
									</div>
									<div id="graph1" class="collapse show in" data-parent="#graph-1-card">
										<div class="card-body d-flex">
											<div class="align-self-center w-100">
												<div id="frame" class="count-vaccin-1">
													<canvas id="chart-count-vaccin-1"></canvas>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-6 col-xxl-3">
							<div id="legend-1-card"> 
								<div class="card flex-fill w-100">
									<div class="card-header">
										<h5 id="legend-1-collapser" class="card-title mb-0" type="button" data-toggle="collapse" data-target="#legend1" aria-expanded="true" aria-controls="legend1">
											Légende 1 <span class="iconify arrow-down" data-icon="bx:bxs-down-arrow" data-inline="false" width="10" height="10"></span>
										</h5>
									</div>
									<div id="legend1" class="collapse show in" data-parent="#legend-1-card">
										<div class="card-body d-flex">
											<div class="align-self-center w-100">
												<div>
													<p class="legend-text">Lorem Ipsum</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br>
                    <div class="row">
						<div class="col-12">
							<div class="card flex-fill w-100">
								<div class="card-header">
									<div class="card-actions float-right">
										<a href="#" class="mr-1">
											<span class="iconify" data-icon="feather-refresh-cw" data-inline="false" width="24" height="24"></span>
										</a>
										<div class="d-inline-block dropdown show">
											<a href="#" data-toggle="dropdown" data-display="static">
												<span class="iconify" data-icon="carbon:overflow-menu-vertical" data-inline="false" width="24" height="24"></span>
											</a>

											<div class="dropdown-menu dropdown-menu-right">
												<a class="dropdown-item" href="#">Action</a>
												<a class="dropdown-item" href="#">Another action</a>
												<a class="dropdown-item" href="#">Something else here</a>
											</div>
                                            
										</div>
									</div>
									<h5 class="card-title mb-0">Tableau de Résultat</h5>
								</div>
								<div class="card-body py-3 overflow-auto">
									<div class="chart chart-sm">
										
										<!--Tab from old Query Page-->
										<div class="table-manager">
											@{
												if (ViewData["ResultTableHead"] == null) {
													<p class="advanced-criterias">Les résultats de votre recherche apparaitront ici</p>
												}
												else {
													<table name="results-table" id="results-table" class="table table-bordered table-striped">
													<thead>
														@Html.Raw(ViewData["ResultTableHead"])
													</thead>
													<tbody>
														@Html.Raw(ViewData["ResultTable"])
													</tbody> 
												</table>
												}
											}
										</div>

										<!--DL Button from old Query Page-->
										<div class="button-download">
											@{
												if (ViewData["ResultTable"] != null) {
													<form method="post" asp-page="Index" asp-page-handler="DownloadFile">
														<div>
															<button id="csv-export" type="submit" class="btn btn-success">Exporter les résultats au format CSV</button>
														</div>
													</form>
												}
											}
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-12 col-md-6 col-xxl-3">
							<div id="graph-2-card">
								<div class="card flex-fill">
									<div class="card-header">
										<h5 id="graph-2-collapser" class="card-title mb-0" type="button" data-toggle="collapse" data-target="#graph2" aria-expanded="true" aria-controls="graph2">
											Graph 2 <span class="iconify arrow-down" data-icon="bx:bxs-down-arrow" data-inline="false" width="10" height="10"></span>
										</h5>
									</div>
									<div id="graph2" class="collapse show in" data-parent="#graph-2-card">
										<div class="card-body d-flex">
											<div class="align-self-center w-100">
												<div id="frame" class="count-vaccin-1">
													<canvas id="chart-count-vaccin-2"></canvas>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-6 col-xxl-3">
							<div id="legend-2-card"> 
								<div class="card flex-fill w-100">
									<div class="card-header">
										<h5 id="legend-2-collapser" class="card-title mb-0" type="button" data-toggle="collapse" data-target="#legend2" aria-expanded="true" aria-controls="legend2">
											Légende 2 <span class="iconify arrow-down" data-icon="bx:bxs-down-arrow" data-inline="false" width="10" height="10"></span>
										</h5>
									</div>
									<div id="legend2" class="collapse show in" data-parent="#legend-2-card">
										<div class="card-body d-flex">
											<div class="align-self-center w-100">
												<div>
													<p class="legend-text">Lorem Ipsum</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
			</main>
		</div>
	</div>
</body>

<script> 
        document.addEventListener('DOMContentLoaded', (event) => {
            var context = document.getElementById('chart-count-vaccin-1');
            var myChart = new Chart(context, @Html.Raw(Model.chartPrinter.ChartJson));
            var context2 = document.getElementById('chart-count-vaccin-2');
            var myChart2 = new Chart(context2, @Html.Raw(Model.chartPrinter.ChartJson2));
        });
</script>

<script src="~/js/index.js"></script>
<script src="~/js/query.js"></script>
<script src="~/lib/chartjs/Chart.min.js" asp-append-version="true"></script>