@model IndexModel

<head>
    <link href="~/css/partialviewquery.css" rel="stylesheet" />
</head>

<body>
    <div id="no-main-criteria" class="extended-form">
        <p class="advanced-criterias">Merci de d'abord sélectionner un critère principal!</p>
    </div>

    @{
        SelectList departmentSelectList = new SelectList(Model.departmentList.Select(couple => new { Value = couple.Key, Text = couple.Value }), "Value", "Text");
        SelectList genderSelectList = new SelectList(Model.genderList.Select(couple => new { Value = couple.Key, Text = couple.Value }), "Value", "Text");
    }




    <div id="criteria-cas-personne" class="extended-form" hidden>
        <h3 class="advanced-criterias">Critères avancés:</h3>

        <div class="form-row range-number">
            <div class="form-group col-md-6 minimal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-minimum-age">Age minimum des personnes</span>
                    </div>
                    <input asp-for="input.casPersonneQuery.age[0]" type="number" min="0" max="130" value="0" class="form-control input-number input-minimum flex-fill" id="input-minimum-age-cas" aria-describedby="addon-minimum-age" onchange="document.getElementById('input-maximum-age-cas').min=this.value; FillEmptyRequired();"/>
                </div>
            </div>
            <div class="form-group col-md-6 maximal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-maximum-age">Age maximal des personnes</span>
                    </div>
                    <input asp-for="input.casPersonneQuery.age[1]" type="number" min="0" max="130" value="130" class="form-control input-number input-maximum flex-fill" id="input-maximum-age-cas" aria-describedby="addon-maximum-age" onchange="document.getElementById('input-minimum-age-cas').max=this.value; FillEmptyRequired();"/>
                </div>
            </div>
        </div>

        <div class="form-row input-text">
            <div class="form-group col-md-6 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-ethnie-input">Groupe Ethnique</span>
                    </div>
                    <input class="form-control input-type-cas flex-fill" asp-for="input.casPersonneQuery.ethnicOrigin" id="input-type-ethnie-cas" aria-describedby="addon-ethnie-input"/>
                </div>
            </div>
            <div class="form-group col-md-6 form-rowselect-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-genre-select">Genre</span>
                    </div>
                    @Html.DropDownListFor(model => model.input.casPersonneQuery.personGender, genderSelectList, new { @class="form-control flex-fill", aria_describedby="addon-genre-select" })
                </div>
            </div>
        </div>

        <div class="form-row range-date">
            <div class="form-group col-lg-6 col-md-12 minimal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-minimum-date-vaccin-1">Date du 1er vaccin minimale</span>
                    </div>
                    <input asp-for="input.casPersonneQuery.vaccinDate1[0]" type="date" min="2018-01-01" value="2018-01-01" class="form-control input-date input-minimum flex-fill" id="input-minimum-date-vaccin-1" aria_describedby="addon-minimum-date-vaccin-1" onchange="document.getElementById('input-maximum-date-vaccin-1').min=this.value; FillEmptyRequired();"/>
                </div>
            </div>
            <div class="form-group col-lg-6 col-md-12 maximal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-maximum-date-vaccin-1">Date du 1er vaccin maximale</span>
                    </div>
                    <input asp-for="input.casPersonneQuery.vaccinDate1[1]" type="date" min="2018-01-01" value="2018-01-01" class="form-control input-date input-maximum flex-fill" id="input-maximum-date-vaccin-1" aria_describedby="addon-maximum-date-vaccin-1" onchange="document.getElementById('input-minimum-date-vaccin-1').max=this.value; FillEmptyRequired();"/>
                </div>
            </div>
        </div>

        <div class="form-row range-date">
            <div class="form-group col-lg-6 col-md-12 minimal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-minimum-date-vaccin-2">Date du 2nd vaccin minimale</span>
                    </div>
                    <input asp-for="input.casPersonneQuery.vaccinDate2[0]" type="date" min="2018-01-01" value="2018-01-01" class="form-control input-date input-minimum flex-fill" id="input-minimum-date-vaccin-2"  aria_describedby="addon-minimum-date-vaccin-2" onchange="document.getElementById('input-maximum-date-vaccin-2').min=this.value; FillEmptyRequired();"/>
                </div>
            </div>
            <div class="form-group col-lg-6 col-md-12 maximal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-maximum-date-vaccin-2">Date du 2nd vaccin maximale</span>
                    </div>
                    <input asp-for="input.casPersonneQuery.vaccinDate2[1]" type="date" min="2018-01-01" value="2018-01-01" class="form-control input-date input-maximum flex-fill" id="input-maximum-date-vaccin-2" aria_describedby="addon-maximum-date-vaccin-2" onchange="document.getElementById('input-minimum-date-vaccin-2').max=this.value; FillEmptyRequired();"/>
                </div>
            </div>
        </div>

        <div class="form-row input-text">
            <div class="form-group col-lg-4 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-name-vaccin">Nom du vaccin</span>
                    </div>
                    <input class="form-control input-type-cas flex-fill" asp-for="input.casPersonneQuery.vaccinNameTypeManufacturer[0]" id="input-name-vaccin-cas" aria_describedby="addon-name-vaccin"/>
                </div>
            </div>
            <div class="form-group col-lg-4 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-type-vaccin">Type du vaccin</span>
                    </div>
                    <input class="form-control input-type-cas flex-fill" asp-for="input.casPersonneQuery.vaccinNameTypeManufacturer[1]" id="input-type-vaccin-cas" aria_describedby="addon-type-vaccin"/>
                </div>
            </div>
            <div class="form-group col-lg-4 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-manufacturer-vaccin">Fabricant du vaccin</span>
                    </div>
                    <input class="form-control input-type-cas flex-fill" asp-for="input.casPersonneQuery.vaccinNameTypeManufacturer[2]" id="input-manufacturer-vaccin-cas" aria_describedby="addon-manufacturer-vaccin"/>
                </div>
            </div>
        </div>

        <div class="form-row input-text">
            <div class="form-group col-md-6 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-name-effet">Nom d'Effet Secondaire</span>
                    </div>
                    <input class="form-control input-type-cas flex-fill" asp-for="input.casPersonneQuery.effetNameType[0]" id="input-name-effet-cas" aria_describedby="addon-name-effet"/>
                </div>
            </div>
            <div class="form-group col-md-6 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-type-effet">Type d'Effet Secondaire</span>
                    </div>
                    <input class="form-control input-type-cas flex-fill" asp-for="input.casPersonneQuery.effetNameType[1]" id="input-type-effet-cas" aria_describedby="addon-type-effet"/>
                </div>
            </div>
        </div>

        <div class="form-row input-text">
            <div class="form-group col-lg-4 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-region">Region</span>
                    </div>
                    <input class="form-control input-type-cas flex-fill" asp-for="input.casPersonneQuery.region" id="input-name-region-cas" aria_describedby="addon-region"/>
                </div>
            </div>
            <div class="form-group col-lg-4 select-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-department">Département</span>
                    </div>
                    @Html.DropDownListFor(model => model.input.casPersonneQuery.department, departmentSelectList, new { @class="form-control flex-fill", aria_describedby="addon-department" })
                </div>
            </div>
            <div class="form-group col-lg-4 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-city">Ville</span>
                    </div>
                    <input class="form-control input-type-cas flex-fill" asp-for="input.casPersonneQuery.city" id="input-name-city-cas" aria_describedby="addon-city"/>
                </div>
            </div>
        </div>

        <div class="form-row input-text">
            <div class="form-group col-lg-4 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-name-hopital">Nom d'hopital</span>
                    </div>
                    <input class="form-control input-type-cas flex-fill" asp-for="input.casPersonneQuery.hopitalName" id="input-name-hopital-cas" aria_describedby="addon-name-hopital"/>
                </div>
            </div>
            <div class="form-group col-lg-4 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-status">Etat du Patient</span>
                    </div>
                    <input class="form-control input-type-cas flex-fill" asp-for="input.casPersonneQuery.currentState" id="input-status-cas" aria_describedby="addon-status"/>
                </div>
            </div>
            <div class="form-group col-lg-4 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-strain">Souche du Virus</span>
                    </div>
                    <input class="form-control input-type-cas flex-fill" asp-for="input.casPersonneQuery.virusStrain" id="input-strain-cas" aria_describedby="addon-strain"/>
                </div>
            </div>
        </div>

        <div class="form-row input-text">
            <div class="form-group col-md-6 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-name-pathologie">Nom de la Pathologie</span>
                    </div>
                    <input class="form-control input-type-cas flex-fill" asp-for="input.casPersonneQuery.pathologieNameType[0]" id="input-name-pathologie-cas" aria_describedby="addon-name-pathologie"/>
                </div>
            </div>
            <div class="form-group col-md-6 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-type-pathologie">Type de la Pathologie</span>
                    </div>
                    <input class="form-control input-type-cas flex-fill" asp-for="input.casPersonneQuery.pathologieNameType[1]" id="input-type-pathologie-cas" aria_describedby="addon-type-pathologie"/>
                </div>
            </div>
        </div>

        <div class="form-row input-text">
            <div class="form-group col-md-6 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-name-symptome">Nom du Symptome</span>
                    </div>
                    <input class="form-control input-type-cas flex-fill" asp-for="input.casPersonneQuery.symptomeNameType[0]" id="input-name-symptome-cas" aria_describedby="addon-name-symptome"/>
                </div>
            </div>
            <div class="form-group col-md-6 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-type-symptome">Type du Symptome</span>
                    </div>
                    <input class="form-control input-type-cas flex-fill" asp-for="input.casPersonneQuery.symptomeNameType[1]" id="input-type-symptome-cas" aria_describedby="addon-type-symptome"/>
                </div>
            </div>
        </div>

        <div class="form-row input-text">
            <div class="form-group col-md-6 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-name-traitement">Nom du Traitement</span>
                    </div>
                    <input class="form-control input-type-cas flex-fill" asp-for="input.casPersonneQuery.traitementNameType[0]" id="input-name-traitement-cas" aria_describedby="addon-name-traitement"/>
                </div>
            </div>
            <div class="form-group col-md-6 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-type-traitement">Type du Traitement</span>
                    </div>
                    <input class="form-control input-type-cas flex-fill" asp-for="input.casPersonneQuery.traitementNameType[1]" id="input-type-traitement-cas" aria_describedby="addon-type-traitement"/>
                </div>
            </div>
        </div>
    </div>




    <div id="criteria-effets-secondaires" class="extended-form" hidden>
        <h3 class="advanced-criterias">Critères avancés:</h3>

        <div class="form-row input-text">
            <div class="form-group col-md-6 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-type-effet-effet">Type d'Effet Secondaire</span>
                    </div>
                    <input class="form-control input-type-effet flex-fill" asp-for="input.effetQuery.effetType" id="input-type-effet" aria_describedby="addon-type-effet-effet"/>
                </div>
            </div>
            <div class="form-group col-md-6 select-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-genre-select-effet">Genre</span>
                    </div>
                    @Html.DropDownListFor(model => model.input.effetQuery.personneGender, genderSelectList, new { @class="form-control flex-fill", aria_describedby="addon-genre-select-effet" })
                </div>
            </div>
        </div>

        <div class="form-row input-text">
            <div class="form-group col-lg-4 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-name-vaccin-effet">Nom du vaccin</span>
                    </div>
                    <input class="form-control input-type-effet flex-fill" asp-for="input.effetQuery.vaccinNameTypeManufacturer[0]" id="input-name-vaccin-effet" aria_describedby="addon-name-vaccin-effet"/>
                </div>
            </div>
            <div class="form-group col-lg-4 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-type-vaccin-effet">Type du vaccin</span>
                    </div>
                    <input class="form-control input-type-effet flex-fill" asp-for="input.effetQuery.vaccinNameTypeManufacturer[1]" id="input-type-vaccin-effet" aria_describedby="addon-type-vaccin-effet"/>
                </div>
            </div>
            <div class="form-group col-lg-4 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-manufacturer-vaccin-effet">Fabricant du vaccin</span>
                    </div>
                    <input class="form-control input-type-effet flex-fill" asp-for="input.effetQuery.vaccinNameTypeManufacturer[2]" id="input-manufacturer-vaccin-effet" aria_describedby="input-manufacturer-vaccin-effet"/>
                </div>
            </div>
        </div>

        <div class="form-row input-text">
            <div class="form-group col-md-6 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-name-traitement-effet">Nom de Traitement</span>
                    </div>
                    <input class="form-control input-type-vaccin flex-fill" asp-for="input.effetQuery.traitementNameType[0]" id="input-name-traitement-effet" aria_describedby="addon-name-traitement-effet"/>
                </div>
            </div>
            <div class="form-group col-md-6 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-type-traitement-effet">Type de Traitement</span>
                    </div>
                    <input class="form-control input-type-vaccin flex-fill" asp-for="input.effetQuery.traitementNameType[1]" id="input-type-traitement-effet" aria_describedby="addon-type-traitement-effet"/>
                </div>
            </div>
        </div>

        <div class="form-row range-number">
            <div class="form-group col-md-6 minimal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-minimum-age-effet">Age minimum des personnes</span>
                    </div>
                    <input asp-for="input.effetQuery.personneAge[0]" type="number" min="0" value="0" max="130" class="form-control input-number input-minimum flex-fill" id="input-minimum-age" aria_describedby="addon-minimum-age-effet" onchange="document.getElementById('input-maximum-age').min=this.value; FillEmptyRequired();"/>
                </div>
            </div>
            <div class="form-group col-md-6 maximal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-maximum-age-effet">Age maximal des personnes</span>
                    </div>
                    <input asp-for="input.effetQuery.personneAge[1]" type="number" min="0" max="130" value="130" class="form-control input-number input-maximum flex-fill" id="input-maximum-age" aria_describedby="addon-maximum-age-effet" onchange="document.getElementById('input-minimum-age').max=this.value; FillEmptyRequired();"/>
                </div>
            </div>
        </div>

        <div class="form-row range-number">
            <div class="form-group col-md-6 minimal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-minimum-case">Nombre minimal de cas</span>
                    </div>
                    <input asp-for="input.effetQuery.caseNumber[0]" type="number" min="0" max="99999" value="0" class="form-control input-number input-minimum flex-fill" id="input-minimum-case" aria_describedby="addon-minimum-case" onchange="document.getElementById('input-maximum-case').min=this.value; FillEmptyRequired();"/>
                </div>
            </div>
            <div class="form-group col-md-6 maximal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-maximum-case">Nombre maximal de cas</span>
                    </div>
                    <input asp-for="input.effetQuery.caseNumber[1]" type="number" min="0" max="99999" value="99999" class="form-control input-number input-maximum flex-fill" id="input-maximum-case" aria_describedby="addon-maximum-case" onchange="document.getElementById('input-minimum-case').max=this.value; FillEmptyRequired();"/>
                </div>
            </div>
        </div>
    </div>




    <div id="criteria-historique" class="extended-form" hidden>
        <h3 class="advanced-criterias">Critères avancés:</h3>

        <div class="form-row input-text">
            <div class="form-group col-md-6 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-status-historique">Etat actuel du patient</span>
                    </div>
                    <input class="form-control input-type-historique flex-fill" asp-for="input.historiqueQuery.currentState" id="input-status-historique" aria_describedby="addon-status-historique"/>
                </div>
            </div>
            <div class="form-group col-md-6 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-strain-historique">Souche du virus</span>
                    </div>
                    <input class="form-control input-type-historique flex-fill" asp-for="input.historiqueQuery.virusStrain" id="input-strain-historique" aria_describedby="addon-strain-historique"/>
                </div>
            </div>
        </div>

        <div class="form-row range-date">
            <div class="form-group col-lg-6 col-md-12 minimal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-minimum-date-detection">Date de détection minimale</span>
                    </div>
                    <input asp-for="input.historiqueQuery.detectionDate[0]" type="date" min="2018-01-01" value="2018-01-01" class="form-control input-date input-minimum flex-fill" id="input-minimum-date-detection" aria_describedby="addon-minimum-date-detection" onchange="document.getElementById('input-maximum-date-detection').min=this.value; FillEmptyRequired();"/>
                </div>
            </div>
            <div class="form-group col-lg-6 col-md-12 maximal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-maximum-date-detection">Date de détection maximale</span>
                    </div>
                    <input asp-for="input.historiqueQuery.detectionDate[1]" type="date" min="2018-01-01" value="2018-01-01" class="form-control input-date input-maximum flex-fill" id="input-maximum-date-detection" aria_describedby="addon-maximum-date-detection" onchange="document.getElementById('input-minimum-date-detection').max=this.value; FillEmptyRequired();"/>
                </div>
            </div>
        </div>

        <div class="form-row range-date">
            <div class="form-group col-lg-6 col-md-12 minimal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-minimum-date-maj">Date de MaJ minimale</span>
                    </div>
                    <input asp-for="input.historiqueQuery.majDate[0]" type="date" min="2018-01-01" value="2018-01-01" class="form-control input-date input-minimum flex-fill" id="input-minimum-date-maj" aria_describedby="addon-minimum-date-maj" onchange="document.getElementById('input-maximum-date-maj').min=this.value; FillEmptyRequired();"/>
                </div>
            </div>
            <div class="form-group col-lg-6 col-md-12 maximal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-maximum-date-maj">Date de MaJ maximale</span>
                    </div>
                    <input asp-for="input.historiqueQuery.majDate[1]" type="date" min="2018-01-01" value="2018-01-01" class="form-control input-date input-maximum flex-fill" id="input-maximum-date-maj" aria_describedby="addon-maximum-date-maj" onchange="document.getElementById('input-minimum-date-maj').max=this.value; FillEmptyRequired();"/>
                </div>
            </div>
        </div>

        <div class="form-row input-text">
            <div class="form-group col-md-6 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-name-pathologie-historique">Nom de la Pathologie</span>
                    </div>
                    <input class="form-control input-type-historique flex-fill" asp-for="input.historiqueQuery.pathologieNameType[0]" id="input-name-pathologie-historique" aria_describedby="addon-name-pathologie-historique"/>
                </div>
            </div>
            <div class="form-group col-md-6 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-type-pathologie-historique">Type de la Pathologie</span>
                    </div>
                    <input class="form-control input-type-historique flex-fill" asp-for="input.historiqueQuery.pathologieNameType[1]" id="input-type-pathologie-historique" aria_describedby="addon-type-pathologie-historique"/>
                </div>
            </div>
        </div>

        <div class="form-row input-text">
            <div class="form-group col-md-6 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-name-symptome-historique">Nom du Symptome</span>
                    </div>
                    <input class="form-control input-type-historique flex-fill" asp-for="input.historiqueQuery.symptomeNameType[0]" id="input-name-symptome-historique" aria_describedby="addon-name-symptome-historique"/>
                </div>
            </div>
            <div class="form-group col-md-6 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-type-symptome-historique">Type du Symptome</span>
                    </div>
                    <input class="form-control input-type-historique flex-fill" asp-for="input.historiqueQuery.symptomeNameType[1]" id="input-type-symptome-historique" aria_describedby="addon-type-symptome-historique"/>
                </div>
            </div>
        </div>

        <div class="form-row input-text">
            <div class="form-group col-md-6 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-name-traitement-historique">Nom du Traitement</span>
                    </div>
                    <input class="form-control input-type-historique flex-fill" asp-for="input.historiqueQuery.traitementNameType[0]" id="input-name-traitement-historique" aria_describedby="addon-name-traitement-historique"/>
                </div>
            </div>
            <div class="form-group col-md-6 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-type-traitement-historique">Type du Traitement</span>
                    </div>
                    <input class="form-control input-type-historique flex-fill" asp-for="input.historiqueQuery.traitementNameType[1]" id="input-type-traitement-historique" aria_describedby="addon-type-traitement-historique"/>
                </div>
            </div>
        </div>
    </div>




    <div id="criteria-hopital" class="extended-form" hidden>
        <h3 class="advanced-criterias">Critères avancés:</h3>

        <div class="form-row input-text">
            <div class="form-group col-lg-4 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-region-hopital">Region</span>
                    </div>
                    <input class="form-control flex-fill input-type-hopital" asp-for="input.hopitalQuery.region" id="input-name-region-hopital" aria_describedby="addon-region-hopital"/>
                </div>
            </div>
            <div class="form-group col-lg-4 select-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-department-hopital">Départment</span>
                    </div>
                    @Html.DropDownListFor(model => model.input.hopitalQuery.department, departmentSelectList, new { @class="form-control flex-fill", aria_describedby="addon-department-hopital" })
                </div>
            </div>
            <div class="form-group col-lg-4 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-city-hopital">Ville</span>
                    </div>
                    <input class="form-control flex-fill input-type-hopital" asp-for="input.hopitalQuery.city" id="input-name-city-hopital" aria_describedby="addon-city-hopital"/>
                </div>
            </div>
        </div>

        <div class="form-row range-number">
            <div class="form-group col-md-6 minimal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-minimum-case-hopital">Nombre minimal de cas</span>
                    </div>
                    <input asp-for="input.hopitalQuery.caseNumber[0]" type="number" min="0" max="99999" value="0" class="form-control flex-fill input-number input-minimum" id="input-minimum-case-hopital" aria_describedby="addon-minimum-case-hopital" onchange="document.getElementById('input-maximum-case-hopital').min=this.value; FillEmptyRequired();"/>
                </div>
            </div>
            <div class="form-group col-md-6 maximal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-maximum-case-hopital">Nombre maximal de cas</span>
                    </div>
                    <input asp-for="input.hopitalQuery.caseNumber[1]" type="number" min="0" max="99999" value="99999" class="form-control flex-fill input-number input-maximum" id="input-maximum-case-hopital" aria_describedby="addon-maximum-case-hopital" onchange="document.getElementById('input-minimum-case-hopital').max=this.value; FillEmptyRequired();"/>
                </div>
            </div>
        </div>

        <div class="form-row range-number">
            <div class="form-group col-lg-6 minimal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-minimum-total-beds-hopital">Nombre minimal de lits total</span>
                    </div>
                    <input asp-for="input.hopitalQuery.totalBeds[0]" type="number" min="0" max="10000" value="0" class="form-control flex-fill input-number input-minimum" id="input-minimum-total-beds-hopital" aria_describedby="addon-minimum-total-beds-hopital" onchange="document.getElementById('input-maximum-total-beds-hopital').min=this.value; FillEmptyRequired();"/>
                </div>
            </div>
            <div class="form-group col-lg-6 maximal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-maximum-total-beds-hopital">Nombre maximal de lits total</span>
                    </div>
                    <input asp-for="input.hopitalQuery.totalBeds[1]" type="number" min="0" max="10000" value="10000" class="form-control flex-fill input-number input-maximum" id="input-maximum-total-beds-hopital" aria_describedby="addon-maximum-total-beds-hopital" onchange="document.getElementById('input-minimum-total-beds-hopital').max=this.value; FillEmptyRequired();"/>
                </div>
            </div>
        </div>

        <div class="form-row range-number">
            <div class="form-group col-lg-6 minimal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-minimum-free-beds-hopital">Nombre minimal de lits libres</span>
                    </div>
                    <input asp-for="input.hopitalQuery.freeBeds[0]" type="number" min="0" max="10000" value="0" class="form-control flex-fill input-number input-minimum" id="input-minimum-free-beds-hopital" aria_describedby="addon-minimum-free-beds-hopital" onchange="document.getElementById('input-maximum-free-beds-hopital').min=this.value; FillEmptyRequired();"/>
                </div>
            </div>
            <div class="form-group col-lg-6 maximal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-maximum-free-beds-hopital">Nombre maximal de lits libres</span>
                    </div>
                    <input asp-for="input.hopitalQuery.freeBeds[1]" type="number" min="0" max="10000" value="10000" class="form-control flex-fill input-number input-maximum" id="input-maximum-free-beds-hopital" aria_describedby="addon-maximum-free-beds-hopital" onchange="document.getElementById('input-minimum-free-beds-hopital').max=this.value; FillEmptyRequired();"/>
                </div>
            </div>
        </div>

        <div class="form-row range-number">
            <div class="form-group col-xl-6 minimal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-minimum-total-intensive-beds-hopital">Nombre minimal de lits en réanimation total</span>
                    </div>
                    <input asp-for="input.hopitalQuery.totalIntensiveBeds[0]" type="number" min="0" max="10000" value="0" class="form-control flex-fill input-number input-minimum" id="input-minimum-total-intensive-beds-hopital" aria_describedby="addon-minimum-total-intensive-beds-hopital" onchange="document.getElementById('input-maximum-total-intensive-beds-hopital').min=this.value; FillEmptyRequired();"/>
                </div>
            </div>
            <div class="form-group col-xl-6 maximal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-maximum-total-intensive-beds-hopital">Nombre maximal de lits en réanimation total</span>
                    </div>
                    <input asp-for="input.hopitalQuery.totalIntensiveBeds[1]" type="number" min="0" max="10000" value="10000" class="form-control flex-fill input-number input-maximum" id="input-maximum-total-intensive-beds-hopital" aria_describedby="addon-maximum-total-intensive-beds-hopital" onchange="document.getElementById('input-minimum-total-intensive-beds-hopital').max=this.value; FillEmptyRequired();"/>
                </div>
            </div>
        </div>

        <div class="form-row range-number">
            <div class="form-group col-xl-6 minimal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-minimum-free-intensive-beds-hopital">Nombre minimal de lits en réanimation libres</span>
                    </div>
                    <input asp-for="input.hopitalQuery.freeIntensiveBeds[0]" type="number" min="0" max="10000" value="0" class="form-control flex-fill input-number input-minimum" id="input-minimum-free-intensive-beds-hopital" aria_describedby="addon-minimum-free-intensive-beds-hopital" onchange="document.getElementById('input-maximum-free-intensive-beds-hopital').min=this.value; FillEmptyRequired();"/>
                </div>
            </div>
            <div class="form-group col-xl-6 maximal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-maximum-free-intensive-beds-hopital">Nombre maximal de lits en réanimation libres</span>
                    </div>
                    <input asp-for="input.hopitalQuery.freeIntensiveBeds[1]" type="number" min="0" max="10000" value="10000" class="form-control flex-fill input-number input-maximum" id="input-maximum-free-intensive-beds-hopital" aria_describedby="addon-maximum-free-intensive-beds-hopital" onchange="document.getElementById('input-minimum-free-intensive-beds-hopital').max=this.value; FillEmptyRequired();"/>
                </div>
            </div>
        </div>
    </div>




    <div id="criteria-localisation" class="extended-form" hidden>
        <h3 class="advanced-criterias">Critères avancés:</h3>

        <div class="form-row input-text">
            <div class="form-group col-md-6 select-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-department-localisation">Département</span>
                    </div>
                    @Html.DropDownListFor(model => model.input.localisationQuery.department, departmentSelectList, new { @class="form-control flex-fill", aria_describedby="addon-department-localisation" })
                </div>
            </div>
            <div class="form-group col-md-6 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-city-localisation">Ville</span>
                    </div>
                    <input class="form-control flex-fill input-type-localisation" asp-for="input.localisationQuery.city" id="input-name-localisation" aria_describedby="addon-city-localisation"/>
                </div>
            </div>
        </div>

        <div class="form-row range-number">
            <div class="form-group col-md-6 minimal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-minimum-case-localisation">Nombre minimal de cas</span>
                    </div>
                    <input asp-for="input.localisationQuery.caseNumber[0]" type="number" min="0" max="99999" value="0" class="form-control flex-fill input-number input-minimum" id="input-minimum-localisation" aria_describedby="addon-minimum-case-localisation" onchange="document.getElementById('input-maximum-localisation').min=this.value; FillEmptyRequired();"/>
                </div>
            </div>
            <div class="form-group col-md-6 maximal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-maximum-case-localisation">Nombre maximal de cas</span>
                    </div>
                    <input asp-for="input.localisationQuery.caseNumber[1]" type="number" min="0" max="99999" value="99999" class="form-control flex-fill input-number input-maximum" id="input-maximum-localisation" aria_describedby="addon-maximum-case-localisation" onchange="document.getElementById('input-minimum-localisation').max=this.value; FillEmptyRequired();"/>
                </div>
            </div>
        </div>
    </div>




    <div id="criteria-pathologie" class="extended-form" hidden>
        <h3 class="advanced-criterias">Critères avancés:</h3>

        <div class="form-group input-text">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-type-pathologie-pathologie">Type de la pathologie</span>
                </div>
                <input class="form-control flex-fill input-type-pathologie" asp-for="input.pathologieQuery.pathologieType" id="input-type-pathologie" aria_describedby="addon-type-pathologie-pathologie"/>
            </div>
        </div>

        <div class="form-row range-number">
            <div class="form-group col-md-6 minimal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-minimum-case-pathologie">Nombre minimal de cas</span>
                    </div>
                    <input asp-for="input.pathologieQuery.caseNumber[0]" type="number" min="0" max="99999" value="0" class="form-control flex-fill input-number input-minimum" id="input-minimum-pathologie" aria_describedby="addon-minimum-case-pathologie" onchange="document.getElementById('input-maximum-pathologie').min=this.value; FillEmptyRequired();"/>
                </div>
            </div>
            <div class="form-group col-md-6 maximal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-maximum-case-pathologie">Nombre maximal de cas</span>
                    </div>
                    <input asp-for="input.pathologieQuery.caseNumber[1]" type="number" min="0" max="99999" value="99999" class="form-control flex-fill input-number input-maximum" id="input-maximum-pathologie" aria_describedby="addon-maximum-case-pathologie" onchange="document.getElementById('input-minimum-pathologie').max=this.value; FillEmptyRequired();"/>
                </div>
            </div>
        </div>
    </div>




    <div id="criteria-symptome" class="extended-form" hidden>
        <h3 class="advanced-criterias">Critères avancés:</h3>

        <div class="form-group input-text">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-type-symptome-symptome">Type du symptome</span>
                </div>
                <input class="form-control flex-fill input-type-symptome" asp-for="input.symptomeQuery.symptomeType" id="input-type-symptome" aria_describedby="addon-type-symptome-symptome"/>
            </div>
        </div>

        <div class="form-row range-number">
            <div class="form-group col-md-6 minimal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-minimum-case-symptome">Nombre minimal de cas</span>
                    </div>
                    <input asp-for="input.symptomeQuery.caseNumber[0]" type="number" min="0" max="99999" value="0" class="form-control flex-fill input-number input-minimum" id="input-minimum-symptome" aria_describedby="addon-minimum-case-symptome" onchange="document.getElementById('input-maximum-symptome').min=this.value; FillEmptyRequired();"/>
                </div>
            </div>
            <div class="form-group col-md-6 maximal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-maximum-case-symptome">Nombre maximal de cas</span>
                    </div>
                    <input asp-for="input.symptomeQuery.caseNumber[1]" type="number" min="0" max="99999" value="99999" class="form-control flex-fill input-number input-maximum" id="input-maximum-symptome" aria_describedby="addon-maximum-case-symptome" onchange="document.getElementById('input-minimum-symptome').max=this.value; FillEmptyRequired();"/>
                </div>
            </div>
        </div>
    </div>




    <div id="criteria-traitement" class="extended-form" hidden>
        <h3 class="advanced-criterias">Critères avancés:</h3>

        <div class="form-group input-text">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-type-traitement-traitement">Type du traitement</span>
                </div>
                <input class="form-control flex-fill input-type-traitement" asp-for="input.traitementQuery.traitementType" id="input-type-traitement" aria_describedby="addon-type-traitement-traitement"/>
            </div>
        </div>

        <div class="form-row range-number">
            <div class="form-group col-md-6 minimal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-minimum-case-traitement">Nombre minimal de cas</span>
                    </div>
                    <input asp-for="input.traitementQuery.caseNumber[0]" type="number" min="0" max="99999" value="0" class="form-control flex-fill input-number input-minimum" id="input-minimum-traitement" aria_describedby="addon-minimum-case-traitement"onchange="document.getElementById('input-maximum-traitement').min=this.value; FillEmptyRequired();"/>
                </div>
            </div>
            <div class="form-group col-md-6 maximal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-maximum-case-traitement">Nombre maximal de cas</span>
                    </div>
                    <input asp-for="input.traitementQuery.caseNumber[1]" type="number" min="0" max="99999" value="99999" class="form-control flex-fill input-number input-maximum" id="input-maximum-traitement" aria_describedby="addon-maximum-case-traitement"onchange="document.getElementById('input-minimum-traitement').max=this.value; FillEmptyRequired();"/>
                </div>
            </div>
        </div>
    </div>




    <div id="criteria-vaccin" class="extended-form" hidden>
        <h3 class="advanced-criterias">Critères avancés:</h3>

        <div class="form-row input-text">
            <div class="form-group col-md-6 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-type-vaccin-vaccin">Type du vaccin</span>
                    </div>
                    <input class="form-control flex-fill input-type-vaccin" asp-for="input.vaccinQuery.vaccinTypeManufacturer[0]" id="input-type-vaccin" aria_describedby="addon-type-vaccin-vaccin"/>
                </div>
            </div>
            <div class="form-group col-md-6 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-type-manufacturer-vaccin">Fabricant du vaccin</span>
                    </div>
                    <input class="form-control flex-fill input-type-vaccin" asp-for="input.vaccinQuery.vaccinTypeManufacturer[1]" id="input-manufacturer-vaccin" aria_describedby="addon-type-manufacturer-vaccin"/>
                </div>
            </div>
        </div>

        <div class="form-row input-text">
            <div class="form-group col-md-6 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-name-effet-vaccin">Nom d'Effet Secondaire</span>
                    </div>
                    <input class="form-control flex-fill input-type-vaccin" asp-for="input.vaccinQuery.effetNameType[0]" id="input-name-effet-vaccin" aria_describedby="addon-name-effet-vaccin"/>
                </div>
            </div>
            <div class="form-group col-md-6 input-text-inf">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-type-effet-vaccin">Type d'Effet Secondaire</span>
                    </div>
                    <input class="form-control flex-fill input-type-vaccin" asp-for="input.vaccinQuery.effetNameType[1]" id="input-type-effet-vaccin" aria_describedby="addon-type-effet-vaccin"/>
                </div>
            </div>
        </div>

        <div class="form-row range-number">
            <div class="form-group col-lg-6 minimal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-minimum-vaccin">Nombre minimal de personnes vaccinées</span>
                    </div>
                    <input asp-for="input.vaccinQuery.vaccinatedNumber[0]" type="number" min="0" max="99999" value="0" class="form-control flex-fill input-number input-minimum" id="input-minimum-vaccin" aria_describedby="addon-minimum-vaccin" onchange="document.getElementById('input-maximum-vaccin').min=this.value; FillEmptyRequired();"/>
                </div>
            </div>
            <div class="form-group col-lg-6 maximal-value">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-maximum-vaccin">Nombre maximal de personnes vaccinées</span>
                    </div>
                    <input asp-for="input.vaccinQuery.vaccinatedNumber[1]" type="number" min="0" max="99999" value="99999" class="form-control flex-fill input-number input-maximum" id="input-maximum-vaccin" aria_describedby="addon-maximum-vaccin" onchange="document.getElementById('input-minimum-vaccin').max=this.value; FillEmptyRequired();"/>
                </div>
            </div>
        </div>
    </div>
</body>