@page
@model QueryModel
@{
  ViewData["Title"] = "Requêtes Spécialisées";
}

<head>

    <script src="~/js/query.js"></script>
    <link href="~/css/calendar.css" rel="stylesheet" />

</head>

<body>
    <h1>@ViewData["Title"]</h1>


    <table class="table">
        <form>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">
                        Date<input type="text" id="datePicker">
                        <span id="calendar"></span>
                    </th>
                    <th scope="col">
                        Place <select id="country" name="country">
                            <option value="fr">France</option>
                            <option value="uk">Royaume-Unis</option>
                            <option value="it">Italie</option>
                        </select> <select id="Region" name="Region">
                            <option value="idf">Ile-de-France</option>
                            <option value="sud">Sud</option>
                            <option value="ge">Grand Est</option>
                        </select>
                    </th>
                    <th scope="col">Info</th>
                </tr>
            </thead>
            <button class="btn-dark" type="submit">Submit</button>
        </form>
       
        <tbody>

            @{
                Connect connect = new Connect();
                List<Hopital> hopitals = connect.recupHopital();
                foreach (var x in hopitals)
                {
                    <tr>
                        <td>@x.IdHopitalHopital</td>
                        <td>@x.NomHopital</td>
                        <td>@x.NombreLitsHopital</td>
                        <td>@x.NombreLitsReanimationHopital</td>
                    </tr>
                }
            }

        </tbody>
    </table>

    <button class="btn-success" onclick="exportTableToCSV('members.csv')">Export HTML Table To CSV File</button>
    <script src="~/js/calendar.js"></script>
    <script>
        var trigger = document.querySelector('#datePicker');
        var dateComponent = new DatePicker({
            el: document.querySelector('#calendar'),
            trigger: trigger,
            onchange: function (curr) {
                trigger.value = curr;
            }
        });

        trigger.onfocus = function () {
            dateComponent.show();
        };
    </script>

</body>
