@page
@model covidipedia.front.src.Pages.Admin.Users.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/src/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppUser[0].LoginName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUser[0].Email)
            </th>
            <th>@Html.DisplayNameFor(model => model.AppUser[0].IsAdmin)</th>
            <th>@Html.DisplayNameFor(model => model.AppUser[0].MustChangePassword)</th>
            <th>@Html.DisplayNameFor(model => model.AppUser[0].IsMedical)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AppUser) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoginName)
            </td><td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input disabled" asp-for="@item.IsAdmin">
                    <label class="custom-control-label disabled">
                        <span class="sr-only">Never</span>
                    </label>
                </div>
            </td>
            <td>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input disabled" asp-for="@item.MustChangePassword">
                    <label class="custom-control-label disabled">
                        <span class="sr-only">Never</span>
                    </label>
                </div>
            </td>
            <td>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input disabled" asp-for="@item.IsMedical">
                    <label class="custom-control-label disabled">
                        <span class="sr-only">Never</span>
                    </label>
                </div>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                @if (Model.CurrentUserId != item.Id)
                {

                    <text> | </text>
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
